.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
  margin: 0.5vw 0.5vw 0;
  border-right: outset salmon;
  border-bottom: outset salmon;
  border-top: outset lightsalmon;
  border-left: outset lightsalmon;
}
span {
  font-size: 0.5vw;
}
.title > p {
  margin: 0;
  font-size: 1vw;
  font-weight: bolder;
}

.stars {
  margin: 0 0.5vw;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.stars > img {
  width: 1vw;
}

.image {
  height: 13vw;
  width: 7vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid darkslategray;
}

.data {
  margin: 0 5% 5%;
  border: 2px solid darkgoldenrod;
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  padding: 1vw 0.5vw;
  flex-grow: 5;
}
h6 {
  font-size: 0.9vw;
}

p {
  padding: 0.5vw 0;
  font-size: 0.7vw;
}

.description > * {
  margin: 0;
}

.description > h6 {
  align-self: flex-start;
}

.stats {
  border-top: 1px solid black;
  display: flex;
  justify-content: end;
  gap: 2px;
  flex-grow: 1;
}

.card-yugi {
  background-color: salmon;
  border: 2px solid darkslategray;
  display: flex;
  gap: 0.3vw;
  flex-direction: column;
  aspect-ratio: 0.7;
}
